/*
Theme Name: BCCF
Author: Rio Purnomo
Author URI: http://siriokun.com/
Description: Official theme for BCCF
Version: 1.0
*/

img {
    height: auto;
    max-width: 100%;
}
.navbar {
    margin: 0
}
.navbar-fixed-top {
    top: 0
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background: none
}
.nav>li>a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.nav>li>a.active,
.nav>li>a:hover,
.navbar-nav .current-menu-item a,
.navbar-nav .current-menu-item a:hover {
    border-bottom: 1px solid #7facd3;
}
.header-filter {
    background: rgba(66, 139, 202, 0.5)
}
.btn-default,
.btn-default.btn-lg {
    color: #fff;
    background-color: #7facd3;
    border: 0;
    padding: 15px 25px
}
.sub-title {
    margin-bottom: 25px
}
.sub-title a {
    color: #333;
}
.page-title:before {
    background: #fff;
}
.readmore {
    background: #7facd3;
    color: #fff
}
.readmore:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background: rgba(66, 139, 202, 0.75)
}
.entry-meta {
    font-style: normal
}
.entry-cover {
    max-height: none
}
.entry-cover img {
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25)
}
.thumbnail {
    padding: 0
}
.thumbnail img {
    width: 100%
}
.thumbnail a:hover {
    text-decoration: none
}
.thumbnail .caption {
    background: #f9f9f9;
    padding: 25px
}
.category>a {
    color: #7facd3;
    font-weight: bold;
}
blockquote {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    color: #444;
    line-height: 33px;
    border-left: none;
    padding: 0;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 15%;
}
.carousel-caption>blockquote {
    color: #fff
}
.whats {
    padding-top: 5%;
    padding-bottom: 5%;
}
.container-gallery {
    margin-bottom: -50px
}
.hentry p,
.hentry h2,
.hentry h3,
.hentry h4,
.hentry h5,
.hentry h6 {
    margin-bottom: 25px
}
.sidebar h3{
    margin: 0 0 25px
}
.copyright {
    font-size: 12px
}
@media (max-width: 768px) {
    img {
        height: auto;
        max-width: 100%
    }
    .widget-area {
        border: 0;
        padding: 0
    }
}
/* plugins */

.ai1ec-single-event {
    overflow: hidden
}
.single-ai1ec_event .post {
    border: 0
}
.ai1ec_event .wp-post-image {
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35)
}
.ai1ec-single-event .ai1ec-field-label,
.ai1ec-multi-event .ai1ec-field-label,
.ai1ec-single-event .ai1ec-time .ai1ec-field-value,
.ai1ec-multi-event .ai1ec-time .ai1ec-field-value {
    font-size: 1em;
    border: 1px solid #eee;
    border-width: 1px 0;
    line-height: 28pt;
    padding: 5px 15px
}